{% extends 'base.html' %}

{% block title %} {{ book.title}} {% endblock %}
{% block content %}

    <h2>
         {{ book.title}}
    </h2>
<p>
    <h6>
    {{book.get_status_display}}
</h6>
</p>
<div class="col-md-6">
    <p>
        {{ book.description }}
    </p>
    <p>
        <h6><b>Category: </b>{{book.category}}</h6>
    </p>
    <footer>
         <p>
            <b>Price: </b>{{book.price}}
        </p>
        <h6><b>Info: </b></h6>{{ book.author.name}} | {{book.published_date|date:"Y-M-D" }}

    </footer>
</div>

<p>
    <a href="{% url 'book:book_edit' book.id %}" class="btn btn-success">UPDATE</a>
</p>
{% endblock %}